[Unit]
Description=GNU Hello World Startup script

[Service]
ExecStart=/home/root/hello-world
After=sample.service

[Install]
WantedBy=default.target
